<!DOCTYPE html>
<html lang="jp" style="scroll-padding-top:100px;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novel.+</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            once: true,
        });
    </script>  
</head>

<body>
    <!-- NAV -->
    <div id="navigation-container"></div>
    <script>
        // JavaScriptを使用してナビゲーションを読み込む
        fetch('navigation.html')
          .then(response => response.text())
          .then(data => {
            document.getElementById('navigation-container').innerHTML = data;
          });
    </script>

<!-- HERO -->
<section class="text-white" id="hero">
    <style>
        .hero-background {
            background-image: url(./hero.jpg);
            background-size: cover;
            background-position: center;
            height: 100vh;
            }
    </style>
        <div class="hero-background">
            <div style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="text-white vh-100 text-center align-items-center d-flex">
                    <div class="container overflow-hidden">
                        <p class="badge bg-success text-white mb-1">コア読者に届く小説投稿サイト</p>
                        <h1 class="display-1">Novel.+</h1>
                        <div class="lead">
                            <div>世界にたった一人でいい</div>
                            <div>自分の小説に共感してくれる読者に小説を届けよう</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- FEATURE -->
<section class="bg-light py-4" id="feature">
    <div class="container overflow-hidden">
        <div class="row text-center" data-aos="zoom-in">
            <div class="col-md-4 mb-3">
                <div class="fs-1 text-success"><i class="bi bi-pencil-square"></i></div>
                <h5 class="text-success">作る</h5>
                <p class="text-muted">小説執筆にお悩みですか？　本サイトは誤字脱字・文脈齟齬判断のためのAI文章校正・画像生成機能を備えた小説執筆・投稿プラットフォームです。</p>
            </div>
            <div class="col-md-4 mb-3">
                <div class="fs-1 text-success"><i class="bi bi-globe"></i></div>
                <h5 class="text-success">届ける</h5>
                <p class="text-muted">届いていない小説、ありませんか？　読者を獲得できない、作品を面白いと思ってもらえる読者に届かない。そんな課題にAIレコメンドでアプローチします。</p>
            </div>
            <div class="col-md-4 mb-3">
                <div class="fs-1 text-success"><i class="bi bi-search-heart-fill"></i></div>
                <h5 class="text-success">届く</h5>
                <p class="text-muted">小説を探すのに時間がかかり、疲れていませんか？　AIレコメンドで、趣向にあった小説を瞬時に見つけましょう。あなたが作品の初めてのファンになるかもしれません。</p>
            </div>
        </div>
    </div>
</section>

<!-- SHOWCASES -->
<section class="bg-light py-5" id="showcases">
    <div class="container">
       <div id="myCarousel" class="col carousel carousel-dark slide m-5" data-bs-ride="carousel">
         <div class="carousel-indicators">
           <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
           <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
           <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
           <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
       </div>
         <div class="carousel-inner">
           <div class="carousel-item active" data-bs-interval="4000">
             <img src="./recommendation.png" class="d-block w-100">
             <div class="container">
               <div class="carousel-caption text-start text-center">
                 <h1><span style="background-color: white;">AIレコメンド</span></h1>
                 <p class="d-none d-lg-block"><span style="background-color: white;">書き手が重要タグを選択、その数値を反映した小説の数値化を行い、読書履歴にマッチした読者へと小説を届けます 新しい読者へ小説を届けませんか？</span></p>
               </div>
             </div>
           </div>
           <div class="carousel-item" data-bs-interval="4000">
             <img src="./proofreading.png" class="d-block w-100">
             <div class="container">
               <div class="carousel-caption text-center">
                 <h1><span style="background-color: white;">AI文章校正</span></h1>
                 <p class="d-none d-lg-block"><span style="background-color: white;">誤字脱字から文脈までAIが分析・判断し、校正にかける時間を短縮します。誤字脱字による読者離れを防ぎませんか？</span></p>
               </div>
             </div>
           </div>
           <div class="carousel-item" data-bs-interval="4000">
             <img src="./translation.png" class="d-block w-100">
             <div class="container">
               <div class="carousel-caption text-end text-center">
                 <h1><span style="background-color: white;">AI翻訳</span></h1>
                 <p class="d-none d-lg-block"><span style="background-color: white;">「選択した文章以外を自動で翻訳、読み手の選択肢を増やし、共感してもらえる読者に出会える可能性を増やします。 海外の方に自分の小説を届けてみませんか？</span></p>
               </div>
             </div>
           </div>
           <div class="carousel-item" data-bs-interval="4000">
               <img src="./createImage.png"  class="d-block w-100">
               <div class="container">
                 <div class="carousel-caption text-end text-center">
                   <h1><span style="background-color: white;">AI画像生成</span></h1>
                   <p class="d-none d-lg-block"><span style="background-color: white;">前後の文脈をもとにより描写にマッチした画像を小説に加えます。 より強い感動体験を読者に提供しませんか？</span></p>
                 </div>
               </div>
             </div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Previous</span>
         </button>
         <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
         </button>
       </div>
     </div>
    </section>

<!-- CTA -->
<section class="bg-success py-5">
    <div class="container overflow-hidden">
        <div class="row text-center bg-success text-white">
            <div data-aos="zoom-in">
            <div class="col">
                <h3 class="py-5">あなたの物語を世界に伝えよう！</h3>
                <p class="lead">初心者でも、機能を活用することで伝えたい言葉を伝えられます。</p>
                <p class="lead py-3"><a href="access.html" class="btn btn-lg btn-outline-light">試してみる</a></p>
            </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5" id="price">
    <div class="container overflow-hidden">
        <div class="row text-dark">
            <h3 class="mb-4">プランを比較</h3>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
                <div data-aos="zoom-in" data-aos-delay="0">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header p-3">
                        <h4 class="my-0 fw-normal">お試しプラン</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title fs-1"><span class="h4">¥</span>0<span class="h4 text-secondary fw-light">
                                /月</span></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="bi-check-lg text-success"></i>小説投稿・閲覧</li>
                            <li class="text-secondary text-success">AIレコメンド(制限あり)</li>
                            <li class="text-secondary text-success">AI画像生成(50枚まで)</li>
                            <li class="text-secondary text-success">AI文章校正(10作品まで)</li>
                            <li class="text-secondary text-success">AI翻訳(10作品まで)</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-outline-success">登録・ログイン</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div data-aos="zoom-in" data-aos-delay="100">
                <div class="card mb-4 shadow-sm border-success">
                    <div class="card-header py-3 bg-success text-white">
                        <h4 class="my-0 fw-normal">個人プラン</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title fs-1"><span class="h4">¥</span>0<span class="h4 text-secondary fw-light">
                                /月（今だけ特別！）</span></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><i class="bi-check-lg text-success"></i>小説投稿・閲覧</li>
                            <li><i class="bi-check-lg text-success"></i>AIレコメンド(無制限)</li>
                            <li><i class="bi-check-lg text-success"></i>AI画像生成(無制限)</li>
                            <li><i class="bi-check-lg text-success"></i>AI文章校正(無制限)</li>
                            <li><i class="bi-check-lg text-success"></i>AI翻訳(無制限)</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-success">登録・ログイン</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="content text-black mx-5 mt-3">
    <!-- ここにコンテンツを配置 -->
    <!-- <h1>Bootstrap Footer Example</h1> -->
    <p>誰かに<span class="text-success fw-bold">伝えたい言葉</span>がある</p>
    <p>
        小説という手段でそれを表現してネットに投稿するものの<span class="text-success fw-bold">読者は増えない</span>
        本当に届けたい相手に作品が<span class="text-success fw-bold">届いていない</span>気がする
    </p>
    <p>そんな状況をNovel.+で乗り越えましょう</p>
</div>

 <!-- Bootstrapのフッター -->
    <footer class="footer">
        <div class="container text-black text-end my-0">
            <span>© 2023 Novelize Supporter All rights reserved.</span>
        </div>
    </footer>
    
</body>
</html>